{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}

<section class="login py-5 mx-auto" data-aos="flip-left">

    <div>
      <h3 class="text-center pb-5">Login</h3>
    </div>
    <form method="post" class="py-3 px-4 mx-4 bg-light">
      <div class="form-group text-center">
        <label for="email" class="py-3">Email</label>
        <input type="email" class="form-control" value="{{ last_username }}" name="email" id="email" placeholder="Enter Email" required autofocus>
      </div>
      <div class="form-group text-center">
        <label for="password" class="py-3">Password</label>
        <input type="password" name="password" class="form-control" id="password" aria-describedby="passHelp" placeholder="Enter Password" required>
        <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
        <small id="passHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
      </div>
      <div class="text-center py-3">
        <button type="submit" class="btn btn-primary d-block mx-auto my-3 d-sm-none">login</button>
        <a class="d-block my-3 d-sm-none" href="">Register</a>
        <a class="d-block" href="">Forgot Password ?</a>
        <button type="submit" class="btn btn-primary mx-auto my-3 d-sm-block d-none">login</button>
      </div>
    </form>
  </section>

{% endblock %}

