body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

nav {
  font-size: 22px;
}

hr {
  margin: 0;
}

#login h3,
label {
  font-weight: 600;
  color: #0d6efd;
}

#profile h3,
label,
h5 {
  font-weight: 600;
  color: #0d6efd;
}

#forgot-password h3,
label {
  font-weight: 600;
  color: #0d6efd;
}

.modal-content {
  font-weight: 600;
  border: none;
}

.modal-title{
  font-weight: 600;
  color: #0d6efd;
}

.goto-trick {
  position: relative;
  top: 42vh;
  left: 50%;
  font-size: 2em;
  color: #0d6efd;
}

.backto-trick {
  position: relative;
  top: 50px;
  left: 100.6%;
  font-size: 2em;
  color: #0d6efd;
}

.menu-mobil {
  display: none;
  max-height: 76px;
  font-size: 1.5em;
}

.trick-link {
  font-weight: 900;
  font-size: 0.765625rem;
  border-radius: 0.625rem;
  border: solid 2px #0d6efd;
  color: #0d6efd;
}

.trick-link:hover {
  color: #f5f5f5;
  background-color: #0d6efd;
  border: solid 2px #0d6efd;
}

.trick-edit {
  color: #0d6efd;
}

.trick-edit .fa-pencil-alt {
  color: #089654;
}

.trick-edit .fa-pencil-alt:hover {
  color: #3d9b6f;
}

.trick-edit .fa-trash-alt {
  color: #b90a22;
}

.trick-edit .fa-trash-alt:hover {
  color: #b92438;
}

.header-hero {
  height: 100vh;
  background-size: cover;
}

.header-hero h1 {
  text-shadow: 1px 1px 2px white, 0 0 1em rgb(15, 146, 207), 0 0 0.2em black;
  font-size: 6vh;
  margin-top: 20vh;
}

.load-more-btn {
  display: block;
  width: 200px;
  font-weight: 400;
  line-height: 1.5;
  font-weight: 600;
  color: #0d6efd;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 2px solid #0d6efd;
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.load-more-btn img {
  height: 40px;
}

.alert {
  margin-left: 18px;
  bottom: 65px;
  position: fixed;
  z-index: 9999;
}

#files-sticks img {
  width: 320px;
  height: 240px;
}

.login {
  width: 450px;
}

.logo {
  padding-left: 20px;
  padding-right: 20px;
  max-height: 40px;
  -webkit-filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
  filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
}

#tricks-section {
  padding: 150px 150px;
}

#media-item {
  padding: 5px;
}

#media-item img,
video,
iframe {
  max-width: 310px;
  max-height: 230px;
}

.background-tricks-image {
  width: 100%;
  min-height: 500px;
  z-index: 0;
}

.tricks-header {
  position: relative;
  height: 550px;
  width: 100%;
}

.admin-edit {
  position: absolute;
  right: 0;
  padding: 12px;
  font-size: 22px;
}

.admin-edit i {
  padding: 5px;
}

.content-tricks {
  -webkit-box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.44);
  box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.44);
  z-index: 100;
  position: relative;
  padding-bottom: 25px;
}

.trick-article-content {
  font-weight: 600;
}

.trick-article-content h2 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 700;
  color: #0d6efd;
  text-transform: uppercase;
}

.see-media-btn {
  display: none;
  border: 2px solid #0d6efd;
  border-radius: 12px;
  font-weight: 600;
  margin-left: 12px;
  color: #0d6efd;
}

.see-media-btn:hover {
  border: 2px solid #fff;
  border-radius: 12px;
  color: #fff;
  background-color: #0d6efd;
}

.hide {
  display: flex;
}

#tricks-section article {
  padding: 2% 10%;
}

.card-img-top {
  object-fit: cover;
}

.article-info {
  padding-top: 22px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.article-info span {
  padding: 12px;
  margin: 5px;
  color: whitesmoke;
  border-radius: 5px;
  font-weight: 700;
  background-color: #0d6efd;
}

.article-info a {
  text-decoration: none;
  color: white;
}

#create-comment {
  padding: 25px 0;
}

#comment-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#comment-form .btn {
  border: 2px solid #0d6efd;
  border-radius: 12px;
  font-weight: 600;
  margin-left: 12px;
  color: #0d6efd;
}

#comment-form .btn:hover {
  border: 2px solid #fff;
  border-radius: 12px;
  color: #fff;
  background-color: #0d6efd;
}

.need-connect a {
  text-decoration: none;
}

.user-avatar img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 100%;
}

.user-comment {
  padding: 10px;
  font-weight: 600;
  border-left: 2px solid #0d6efd;
  border-bottom: 2px solid #0d6efd;
}

.comment-info {
  color: #0d6efd;
  font-weight: 600;
}

.cross-close {
  display: none;
  position: absolute;
  right: 0;
  padding: 12px;
  top: 550px;
  z-index: 999;
}

#files-sticks {
  padding: 20px 0;
}

#files-sticks a {
  text-decoration: none;
}

.trick-section-title h2 {
  color: #0d6efd;
  padding-left: 12px;
  border-left: 5px solid #0d6efd;
}

.edit-items {
  position: relative;
  left: 70%;
  margin: 12px 12px;
  width: 80px;
  height: 40px;
  border: solid 2px #0d6efd;
  text-align: center;
}

.edit-items i {
  display: inline;
  vertical-align: middle;
}

body #modal {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#modal-body {
  border-radius: 12px;
  border: 2px solid #057dcc;
}

.close-modal {
  position: relative;
  left: 45%;
  top: 3px;
}

footer {
  display: table-row;
  height: 75px;
}

.menu-footer-left {
  color: #0d6efd;
}

.menu-footer-left h3 {
  font-size: 2rem;
  font-weight: 600;
}

.menu-footer-left a {
  color: #0d6efd;
  text-decoration: none;
}

.menu-footer-left ul {
  padding-left: 0;
}

.menu-footer-left ul li {
  padding-top: 8px;
  font-weight: 600;
  list-style: none;
}

.menu-footer-right {
  color: #0d6efd;
}

.menu-footer-right h3 {
  font-size: 2rem;
  font-weight: 600;
}

.menu-footer-right a {
  color: #0d6efd;
  text-decoration: none;
}

.menu-footer-right ul {
  padding-left: 0;
}

.menu-footer-right ul li {
  padding-top: 8px;
  font-weight: 600;
  list-style: none;
}

@media (max-width: 768px) {
  #tricks-section {
    padding: 150px 50px;
    margin-top: -24px;
  }

  .tricks-header {
    height: 300px;
    width: 100%;
  }

  .header-hero {
    height: 90vh;
  }

  #comment-form textarea{
    width: 90%;
  }

  .goto-trick {
    top: 35vh;
  }

  #tricks-image {
    max-height: 500px;
    padding: 0 0;
  }

  .trick-article-content {
    text-align: center;
  }

  .trick-article-content h2 {
    padding-top: 20px;
  }

  #files-sticks {
    margin-top: 20px;
    line-height: 0;
  }

  .edit-items {
    position: relative;
    left: 35%;
    margin: 12px 12px;
    width: 80px;
    height: 40px;
    border: solid 2px #057dcc;
    text-align: center;
  }

  .menu-mobil {
    display: block;
    max-height: 76px;
    font-size: 1.5em;
  }

  #tricks-section article {
    padding: 0 22px 35px 22px;
  }

  .cross-close {
    display: none;
    position: absolute;
    right: 0;
    padding: 12px;
    top: 300px;
  }

  #comment-form .btn {
    margin-top: 12px;
    margin-left: 0;
  }

  .hide {
    display: none;
  }

  .see-media-btn {
    display: flex;
  }

  .cross-close {
    display: none;
  }

  #files-sticks {
    padding: 0px;
  }

  .trick-section-title h2 {
    color: #0d6efd;
    margin-bottom: 20px;
    border: none;
    text-align: center;
  }

  .trick-section-btn a {
    margin-left: 12px;
  }

  footer {
    display: none;
  }

  .backto-trick {
    top: -45px;
  }

}

@media (max-width: 1668px) {
  #items-header-tricks {
    display: none;
  }
}