{% extends 'base.html.twig' %}

{% block title %}Forgot Password ??{% endblock %}

{% block content %}
	<section class="login py-5 mx-auto" data-aos="flip-left">
		<div>
			<h3 class="text-center pb-5">Forgot Password</h3>
		</div>
		<form method="post" class="py-3 px-4 mx-4 bg-light">

			<div class="text-center">
				<label for="inputEmail" class="py-3">Email</label>
			</div>
			<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Enter Email" required autofocus>
			<small id="passHelp" class="form-text text-muted">You have 24 hours to use the password request token.</small>
			<div class="text-center py-3">
				<button type="submit" class="btn btn-primary mx-auto my-3 d-sm-block">Ask for reset password</button>
			</div>


		</form>

	</section>

    {% for message in app.flashes('notify') %}
		<div class="alert alert-primary animate__animated animate__shakeX" role="alert" id="js-alert">
			{{ message }}
		</div>
	{% endfor %}

	{% for message in app.flashes('notify_error') %}
		<div class="alert alert-danger animate__animated animate__shakeX" role="alert" id="js-alert">
			{{ message }}
		</div>
	{% endfor %}
    
{% endblock %}
