/* GENERAL */

html, body {
	height: 100%;
	margin: 0; padding: 0;
}

body {
	display : table;
    border-collapse: collapse;
	width: 100%;
}

nav{
   font-size: 22px;
}

hr{
    margin: 0;
}



/* HEADER HERO */

.goto-trick{
    position: relative;
    top: 70vh;
    left: 50%;
    font-size: 2em;
    color: rgb(5, 125, 204);
}

.backto-trick{
    position: relative;
    top: 50px;
    left: 100.6%;
    font-size: 2em;
    color: rgb(5, 125, 204);
}

/* MOBIL MENU */

.menu-mobil{
    display: none;
    overflow: clip;
    max-height: 76px;
    font-size: 1.5em;
}


/* BUTTON TRICK LINK */

.trick-link {
    font-weight: 900;
    font-size: 0.765625rem;
    border-radius: 0.625rem;
    border: solid 2px rgb(5, 125, 204);
    color: rgb(5, 125, 204);
}

.trick-link:hover{
    color:whitesmoke;
    background-color: rgb(5, 125, 204);
    border: solid 2px rgb(5, 125, 204);
}

.trick-edit{
    color: rgb(5, 125, 204);
}

/* HEADER SLOGAN */

.header-hero{
    min-height: 500px;
}

/* LOAD MORE BTN */


.load-more-btn{
    display: block;
    width: 200px;
    font-weight: 400;
    line-height: 1.5;
    font-weight:600; 
    color: rgb(5, 125, 204);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2px solid rgb(5, 125, 204);
    padding: .375rem .75rem;
    font-size: 1.5rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/* ALERTE */

.alert{
    margin-left: 18px;
    bottom: 65px;
    position: fixed;
    z-index: 9999;
}

/* FILES STRICKS */

#files-sticks img{
    width: 320px;
    height: 240px;

}

/* LOGIN */

.login{
    width: 450px;
}

/* LOGO */

.logo{
    max-height: 40px;
    -webkit-filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
    filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
}


/* TRICKS SECTIONS */

#tricks-section{
    padding: 150px 150px;
}

.background-tricks-image{
    width: 100%;
    min-height: 500px;
    z-index: 0;
}

.tricks-header{
    position:relative;
    height: 550px;
    width: 100%;
    
}

.admin-edit{
    position:absolute;
    right: 0;
    padding: 12px;
    font-size: 22px;
}

.admin-edit i{
    padding: 5px;
}

.content-tricks{
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.44);
    z-index: 100;
    position: relative;
}

.see-media-btn{
    display: none;
    border: 2px solid rgb(5, 125, 204);
    border-radius: 12px;
    font-weight: 600;
    margin-left: 12px;
    color: rgb(5, 125, 204);
}

.see-media-btn:hover{
    border: 2px solid white;
    border-radius: 12px;
    color: white;
    background-color: rgb(5, 125, 204);
}

.hide{
    display: flex;
}

#tricks-section article{
    padding: 2% 10%;
}

.article-info{
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.article-info span{
    padding: 12px;
    margin: 5px;
    font-weight: 700;
    border: 2px solid rgb(5, 125, 204);
}

.article-info a{
    text-decoration: none;
    color: #212529;
}

#comment-form form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#comment-form .btn{
    border: 2px solid rgb(5, 125, 204);
    border-radius: 12px;
    font-weight: 600;
    margin-left: 12px;
    color: rgb(5, 125, 204);
}

#comment-form .btn:hover{
    border: 2px solid white;
    border-radius: 12px;
    color: white;
    background-color: rgb(5, 125, 204);
}

.need-connect a{
text-decoration: none;
}

.user-avatar img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 100%;
}

.user-comment{
    padding: 10px;
    border: 2px solid rgb(5, 125, 204);
}

.comment-info{
    font-weight: 600;
}

/* CROSS CLOSE */

.cross-close{
    display: none;
    position: absolute;
    right: 0;
    padding: 12px;
    top: 550px;
    z-index: 999;
}


#files-sticks a{
    text-decoration: none;
}

/* EDIT ITEMS */

.edit-items{
    position: relative;
    left: 70%;
    margin: 12px 12px;
    width: 80px;
    height: 40px;
    border:solid 2px rgb(5, 125, 204);
    text-align: center;
}

.edit-items i{
    display: inline;
    vertical-align: middle;
}


/* MODAL */
body #modal
{
 height: 100%;
 width: 100%;
 overflow: hidden;
}


#modal-body{
    border-radius: 12px;
    border: 2px solid rgb(5, 125, 204);
}

.close-modal{
    position:relative;
    left: 45%;
    top: 3px;
}

/* FOOTER */

footer {
	display : table-row; /* J'utilise cette propriter pour fixer le footer au bootom (voir le body) */
	height: 75px; /* à titre d'exemple */
}

/* FIX RESPONSIVE */

@media (max-width: 768px) {
    
    .goto-trick{
        position: absolute;
        top: 93vh;
        left: 90%;
        font-size: 2em;
    }

    #tricks-section{
        padding: 150px 50px;
        margin-top: -24px;
    }

    .tricks-header{
        height: 300px;
        width: 100%;
    }

    #tricks-image{
        max-height: 500px;
        padding: 0px 0px;
    }
    
    #files-sticks{ 
    margin-top: 20px;
    line-height: 0;
    }

    .edit-items{
    position: relative;
    left: 35%;
    margin: 12px 12px;
    width: 80px;
    height: 40px;
    border:solid 2px rgb(5, 125, 204);
    text-align: center;
    }

    .menu-mobil{
    display: block;
    overflow: clip;
    max-height: 76px;
    font-size: 1.5em;
    }

    #tricks-section article{
    padding: 0 22px 35px 22px;
    }

    .cross-close{
    display: none;
    position: absolute;
    right: 0;
    padding: 12px;
    top: 300px;
    }

    #comment-form .btn{
    margin-top: 12px;
    margin-left: 0px;
    }

    .hide{
        display: none;
    }
    
    .see-media-btn{
    display: flex;
    }

    .cross-close{
    display: none;
    }
}

@media (max-width: 1668px) {
    
    #items-header-tricks{
        display: none;
    }
    
}

@media (min-width: 768px) {

    .goto-trick{
        position: absolute;
        top: 102vh;
        left: 96%;
        font-size: 2em;
    }

}