<div>
	<h1>You need new password ??</h1>
	<p>Hi {{ app.session.get('user-firstname') }},<br> I generate token for you please click on link for take a new password.:</p><br>	
	<p><a href="{{ app.session.get('server-host') }}{{ app.session.get('user-token') }}"> Generate new password </a></p>
	<br>
	<footer>
		Copyright © 2021 | www.snowtricks.com
	</footer>
</div>