<div>
	<h1>This is your new password !!</h1>
	<p>Hi {{ app.session.get('user-firstname') }} and thank you for registering on snowtricks.com,<br> here are your login details :</p><br>
    <p>New password :</p>	
	<p>{{ app.session.get('user-newpassword') }}</p><br>
	<footer>
		Copyright © 2021 | www.snowtricks.com
	</footer>
</div>