<div>
	<h1>Thanks for your registration</h1>
	<p>Hi {{ app.session.get('user-firstname') }} and thank you for registering on snowtricks.com,<br> please click on link for actived your account :</p>
	<p><a href="{{ app.session.get('user-token') }}">Validate Your Account</a></p>
	<p>Your account informations :</p>
	<p>Email :</p>
	<p>{{ app.session.get('user-email') }}</p>
	<p>password :</p>
	<p>{{ app.session.get('user-password') }}</p>
	<footer>
		Copyright © 2021 | www.snowtricks.com
	</footer>
</div>